<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.it.mycontract.mapper.HtglContractMapper">


    <resultMap id="ContractResult" type="cn.it.mycontract.entity.HtglContract">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="sponsor_name" property="sponsorName"/>
        <result column="sponsor_id" property="sponsorId"/>
        <result column="operator_name" property="operatorName"/>
        <result column="operator_id" property="operatorId"/>
        <result column="draft_time" property="draftTime"/>
        <result column="budget_code" property="budgetCode"/>
        <result column="contract_money" property="contractMoney"/>
        <result column="contract_cnt" property="contractCnt"/>
        <result column="approve_time" property="approveTime"/>
        <result column="flow_status" property="flowStatus"/>


        <collection property="htglProcessRecordList" ofType="cn.it.mycontract.entity.HtglProcessRecord"
                    select="cn.it.mycontract.mapper.HtglContractMapper.selectHtqcRecode2"
                    column="{contractId=id,handlerId=handlerId}">
            <id column="record_id" property="id"/>
            <result column="record_status" property="status"></result>
        </collection>
    </resultMap>


    <resultMap id="HtqcRecode2Map" type="cn.it.mycontract.entity.HtglProcessRecord">
        <id column="record_id" property="id"/>
        <result column="record_status" property="status"></result>
    </resultMap>


    <!--
        查询用户部门的上级领导与所在部门
    -->
    <select id="selectLeader" resultType="cn.it.mycontract.entity.SysArea">

        SELECT
        sa1.id,
        sa1.`name`,
        su1.id as leader_id,
        su1.`name` as leader_name
    FROM
	sys_area sa1
	LEFT JOIN sys_user su1 ON sa1.leader_id = su1.id
WHERE
	sa1.id = ( SELECT sa.id
	FROM sys_user su
	LEFT JOIN sys_area sa
	ON su.area_id = sa.id
	WHERE su.account = #{account} )
    </select>

    <select id="selectHtqcRecode" resultMap="ContractResult">
        SELECT
         DISTINCT hc.id,
         hc.*,
         hpr.`status`,
          hc.draft_time,
        case when (${handlerId} IS NULL) then NULL else ${handlerId} end as handlerId
    FROM
        htgl_contract hc
        LEFT JOIN htgl_process_record hpr ON hc.id = hpr.contract_id
        <trim prefix="where" prefixOverrides="and">
            <if test="contractName != null and !contractName.equals('')">
                hc.name LIKE CONCAT('%', #{contractName}, '%')
            </if>
            <if test="handlerId != null">
                and hpr.now_handler = #{handlerId}
                AND hpr.`status` != 0
            </if>
        </trim>
    ORDER BY hpr.`status`,hc.draft_time desc
    limit ${cur} , 10
    </select>
    
    
    <select id="selectHtqcRecode2" resultMap="HtqcRecode2Map">
        select hpr.id as record_id,
               hpr.status as record_status
        FROM htgl_process_record hpr
        where  hpr.`status` != 0 and contract_id=#{contractId}
               and hpr.now_handler = #{handlerId}
    </select>


    <select id="queryHtqcPageList" resultType="cn.it.mycontract.entity.HtglContract">
        select *
        from htgl_contract hc
        <trim prefix="where" prefixOverrides="and">
            <if test="contractName!=null and !contractName.equals('')">
                hc.name LIKE CONCAT('%', #{contractName}, '%')
            </if>
            <if test="operatorId!=null">
                and hc.operator_id = #{operatorId}
            </if>
        </trim>
        order by hc.flow_status,hc.draft_time desc
        limit #{cur},10
    </select>


    <select id="queryHtqdPageList" resultType="cn.it.mycontract.entity.HtglContract">
        select *
        from htgl_contract hc
        <trim prefix="where" prefixOverrides="and">
            <if test="contractName!=null and !contractName.equals('')">
                hc.name LIKE CONCAT('%', #{contractName}, '%')
            </if>
            <if test="operatorId!=null">
                and hc.operator_id = #{operatorId} and (hc.flow_status=2 or hc.flow_status=3)
            </if>
        </trim>
        order by hc.flow_status asc,hc.draft_time desc
        limit #{cur},10
    </select>



    <select id="selectNowProcessHandler" resultType="cn.it.mycontract.entity.SysUser">
        SELECT
	    su.`name`
        FROM
            sys_user su
        WHERE
	    su.id = (
            SELECT hpr.now_handler
            FROM htgl_process_record hpr
            WHERE hpr.contract_id = #{cid} AND hpr.`status` = 1
	    )
    </select>


    <!--获取执行不完全退回的那个审签人-->
    <select id="selectNextHandlerNoBack" resultType="cn.it.mycontract.entity.SysUser">
    SELECT
        *
    FROM
        sys_user su
    WHERE
        su.id = (
            SELECT
                hpr.now_handler
            FROM
                htgl_process_record hpr
            WHERE
                hpr.contract_id = #{cid}
                AND hpr.`status` = 0
                AND hpr.del_sort = (
                    SELECT min( hpr.del_sort )
                    FROM htgl_process_record hpr
                    WHERE hpr.contract_id = #{cid} AND hpr.`status` = 0
                )
        )
    </select>


    <!--获取执行不完全退回的那个流程-->
    <select id="selectNextProcessNoBack" resultType="cn.it.mycontract.entity.HtglProcessRecord">
        SELECT
                hpr.*
            FROM
                htgl_process_record hpr
            WHERE
                hpr.contract_id = #{cid}
                AND hpr.`status` = 0
                AND hpr.del_sort = (
                    SELECT min( hpr.del_sort )
                    FROM htgl_process_record hpr
                    WHERE hpr.contract_id = #{cid} AND hpr.`status` = 0
                )

    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(*) FROM htgl_contract WHERE (operator_id = #{id} AND (flow_status = 0 OR flow_status = -1))
    </select>
</mapper>