<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.it.mycontract.mapper.SysRoleMapper">
    
    <resultMap id="sysRoleResult" type="cn.it.mycontract.entity.SysRole">
        <id column="role_id" property="id"/>
        <result column="role_name" property="name"/>
        <result column="role_remarks" property="remarks"/>
        <!--用于collection集合，oftype表示集合元素的类型-->
        <collection property="menuList" ofType="cn.it.mycontract.entity.SysMenu">
            <id column="menu_id" property="id"/>
            <result column="menu_name" property="name"></result>
        </collection>
    </resultMap>


    <select id="selectRoleList" resultMap="sysRoleResult">
      SELECT
        sr.id AS role_id,
        sr.`name` AS role_name,
        sr.remarks AS role_remarks,
        sm.id AS menu_id,
        sm.NAME AS menu_name
        FROM
            sys_role sr
            LEFT JOIN sys_role_menu srm ON sr.id = srm.role_id
        LEFT JOIN sys_menu sm ON srm.menu_id = sm.id
        WHERE sr.del_flag = "0"


    </select>
</mapper>