<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.it.mycontract.mapper.SysUserMapper">


    <resultMap id="sysUserResult" type="cn.it.mycontract.entity.SysUser">
        <id column="user_id" property="id"/>
        <result column="user_name" property="name"/>
        <result column="user_account" property="account"/>
        <result column="user_mobile" property="mobile"/>

        <collection property="roleList" ofType="cn.it.mycontract.entity.SysRole">
            <id column="role_id" property="id"/>
            <result column="role_name" property="name"></result>
        </collection>

        <collection property="areaList" ofType="cn.it.mycontract.entity.SysArea">
            <id column="area_id" property="id"/>
            <result column="area_name" property="name"></result>
        </collection>
    </resultMap>

    <select id="selectUserList" resultMap="sysUserResult">
      SELECT
	su.id AS user_id,
	su.NAME AS user_name,
	su.account AS user_account,
	su.mobile AS user_mobile,
	sr.id AS role_id,
	sr.`name` AS role_name,
	sa.id AS area,
	sa.`name` AS area_name
    FROM
        sys_user su
        LEFT JOIN sys_user_role sur ON su.id = sur.user_id
        LEFT JOIN sys_role sr ON sur.role_id = sr.id
        LEFT JOIN sys_user_area sua ON su.id = sua.user_id
        LEFT JOIN sys_area sa ON sua.area_id = sa.id
    WHERE su.del_flag = "0" AND sr.del_flag = "0" AND sa.del_flag = "0"

    </select>


    <select id="selectBoss" resultType="cn.it.mycontract.entity.SysUser">
        SELECT su.id,su.name
        from sys_user su
        LEFT JOIN sys_area sa
        on su.area_id = sa.id
        where sa.`name` = '局级'

    </select>


    <select id="selectLoginUser" resultMap="sysUserResult">
SELECT
	su.id AS user_id,
	su.NAME AS user_name,
	su.account AS user_account,
	su.mobile AS user_mobile,
	sr.id AS role_id,
	sr.`name` AS role_name
    FROM
        sys_user su
        LEFT JOIN sys_user_role sur ON su.id = sur.user_id
        LEFT JOIN sys_role sr ON sur.role_id = sr.id
    WHERE su.del_flag = "0" AND su.account = #{account}

    </select>


    <select id="selectUserAndArea" resultMap="sysUserResult">

        SELECT
        su.id as user_id,
        su.`name` as user_name,
        sa.id as area_id,
        sa.NAME as area_name
    FROM
        sys_user su
        LEFT JOIN sys_user_area sua ON su.id = sua.user_id
        LEFT JOIN sys_area sa ON sua.area_id = sa.id
    WHERE
        su.id = #{user_id}
    </select>



    <select id="selectCSUser" resultMap="sysUserResult">
        SELECT
	su.id AS user_id,
	su.NAME AS user_name,
	su.account AS user_account,
	su.mobile AS user_mobile,
	sr.id AS role_id,
	sr.`name` AS role_name
    FROM
        sys_user su
        LEFT JOIN sys_user_role sur ON su.id = sur.user_id
        LEFT JOIN sys_role sr ON sur.role_id = sr.id
				LEFT JOIN sys_user_area sua on su.id = sua.user_id
				LEFT JOIN sys_area sa on sua.area_id = sa.id
    WHERE su.del_flag = "0" and sr.`name` = '审签初审人员' and sa.`name` = #{areaName}
    </select>
</mapper>