<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.0/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
</head>

<body>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">新增界面</h3>
    </div>
    <div class="panel-body">
        <form th:action="@{/addUser}">
            <div class="form-group">
                <label>账号:</label>
                <input type="text" name="userAccount" class="form-control"/>
            </div>
            <div class="form-group">
                <label>用户名:</label>
                <input type="text" name="userName" class="form-control"/>
            </div>
            <div class="form-group">
                <label>密码:</label>
                <input type="text" name="userPassword" class="form-control"/>
            </div>
            <div class="form-group">
                <label>电话:</label>
                <input type="text" name="userMobile" class="form-control"/>
            </div>


            <div class="form-group">
                <label>选择角色:</label>
                <select class="selectpicker form-control roles-select" multiple name="rolesId">
                </select>
            </div>

            <div class="form-group">
                <label>选择部门:</label>
                <select class="selectpicker form-control areas-select" multiple name="areasId">
                </select>
            </div>

            <button type="submit" class="btn btn-default">提交</button>
        </form>

    </div>
</div>


<script th:inline="javascript">

    // 通过Thymeleaf内置函数获取应用程序上下文路径
    let basePath = [[${#httpServletRequest.getContextPath()}]];

    let rolesSelect = document.getElementsByClassName('roles-select')[0];


    $.ajax({
        type:"GET",
        url:basePath + "/getAllRoles",
        data:"",//请求参数
        dataType:"JSON",
        success:function(result){//回调函数



            for (let i = 0; i < result.length; i++){
                let optionNode = document.createElement('option');
                optionNode.setAttribute("value",result[i].id);
                optionNode.innerText = result[i].name;


                console.log(optionNode);

                rolesSelect.appendChild(optionNode);
            }


            $('.selectpicker').selectpicker('refresh');

        }
    });




    let areasSelect = document.getElementsByClassName('areas-select')[0];

    $.ajax({
        type:"GET",
        url:basePath + "/getAllAreas",
        data:"",//请求参数
        dataType:"JSON",
        success:function(result){//回调函数



            for (let i = 0; i < result.length; i++){
                let optionNode = document.createElement('option');
                optionNode.setAttribute("value",result[i].id);
                optionNode.innerText = result[i].name;



                areasSelect.appendChild(optionNode);
            }


            $('.selectpicker').selectpicker('refresh');

        }
    });



</script>



</body>
</html>