<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"></link>
    <script type="text/javascript" th:href="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
</head>
<body>



<div class="panel panel-default">
    <div class="panel-heading">
        搜索
    </div>
    <div class="panel-body">
        <form role="form" class="form-inline">
            <div class="form-group">
                <label for="name">名称</label>
                <input type="text" class="form-control" id="name" placeholder="请输入名称">
            </div>
            <div class="form-group">
                <label for="name">状态</label>
                <select class="form-control">
                    <option>上架</option>
                    <option>下架</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">开始搜索</button>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <a th:href="@{/toAddUserPage}" class="btn btn btn-primary">新增</a>
    </div>
</div>


<div class="table-responsive">


    <table class="table table-striped ">
        <thead>
        <tr>
            <th>编号</th>
            <th>账号</th>
            <th>姓名</th>
            <th>电话</th>
            <th>用户关联的所有角色</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.account}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.mobile}"></td>
            <td>
                <select class="form-control roles-select" name="rolesId">
                    <option th:each="role : ${user.roleList}" value="0">
                        <div th:text="${role.name}"></div>
                    </option>
                </select>
            </td>
            <td>
                <div class="btn-group">
                    <a th:href="@{/updateUserPage(id=${user.id})}" class="btn btn-default">修改</a>
                    <a th:href="@{/deleteUser(id=${user.id})}" class="btn btn-danger">删除</a>
                </div>
            </td>

        </tr>

        </tbody>
    </table>


</div>

</body>
</html>