<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"></link>
    <script type="text/javascript" th:href="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"></link>
    <script type="text/javascript" th:src="@{/js/echarts.min.js}"></script>
</head>
<body>


<div class="row">
    <div class="col-md-6">

        <div id="chartmain1" style="width:600px; height: 400px;"></div>

    </div>
    <div class="col-md-6">
        <div id="chartmain" style="width:600px; height: 400px;"></div>

    </div>
</div>




</body>


<script type="text/javascript" th:inline="javascript">


    //指定图标的配置和数据
    let option = {
        title:{
            text:'合同待办情况'
        },
        tooltip:{},
        legend:{
            data:['用户来源']
        },
        xAxis:{
            data:["被退回合同","未审签合同","未签订合同"]
        },
        yAxis:{

        },
        series:[{
            name:'数量',
            type:'line',
            data:[0,0,0],
            areaStyle: {
                normal: {color: '#7c7eff'}
            }
        }]
    };




    let myChart = echarts.init(document.getElementById('chartmain'));

    myChart.setOption({
        title:{
            text:'各处室合同签订统计'
        },
        series: [
            {
                name:'访问来源',
                type:'pie',
                radius: '55%',
                avoidLabelOverlap: false,
                label: {
                    normal: {
                        formatter: '{b}:{c}' + '\n\r' + '({d}%)',
                        show: true,
                        position: 'left'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: true
                    }
                },
                data:[          // 数据数组，name 为数据项名称，value 为数据项值
                    {value:27, name:'广告处'},
                    {value:40, name:'法规处'},
                    {value:36, name:'财务处'},
                    {value:20, name:'宣传处'},
                    {value:17, name:'督查处'},
                    {value:33, name:'办公室'},
                    {value:16, name:'食品生产安全处'},
                    {value:10, name:'信用处'},
                ]
            }
        ]
    })




    let basePath = [[${#httpServletRequest.getContextPath()}]];

    $.ajax({
        type:"GET",
        url:basePath + "/getCountOfTh",
        data:"",//请求参数
        dataType:"JSON",
        success:function(result){

            option.series[0]['data'][0] = result;

            $.ajax({
                type:"GET",
                url:basePath + "/getCountOfSq",
                data:"",//请求参数
                dataType:"JSON",
                success:function(result){
                    option.series[0]['data'][1] = result;

                    $.ajax({
                        type:"GET",
                        url:basePath + "/getCountOfQd",
                        data:"",//请求参数
                        dataType:"JSON",
                        success:function(result){
                            option.series[0]['data'][2] = result;

                            //初始化echarts实例
                            var myChart1 = echarts.init(document.getElementById('chartmain1'));

                            //使用制定的配置项和数据显示图表
                            myChart1.setOption(option);

                        }
                    });

                }
            });

        }
    });




</script>

</html>