<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-select.min.css}">
    <script type="text/javascript" th:src="@{/js/bootstrap-select.js}"></script>



</head>

<body>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">合同起草</h3>
    </div>
    <div class="panel-body">
        <form name="htqcForm" th:action="@{/addContract}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>合同名称:</label>
                <input type="text" name="contractName" class="form-control"/>
            </div>
            <div class="form-group">
                <label>需求单位:</label>
                <select id="sponsor-id" class=" form-control sponsor-select" name="sponsorId" oninput="change()">
                    <option style="display: none"></option>
                    <option th:each="area: ${user.areaList}" th:text="${area.name}" th:value="${area.id}"></option>
                </select>
            </div>
            <div class="form-group">
                <label>需求单位经办人:</label>
                <input th:value="${user.name}" type="text" name="operatorName" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label>起草日期:</label>
                <input th:value="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd')}" readonly type="text" name="draftTime" class="form-control"/>
            </div>
            <div class="form-group">
                <label>财务预算单号:</label>
                <input type="text" name="budgetCode" class="form-control"/>
            </div>
            <div class="form-group">
                <label>合同金额:</label>
                <input type="text" name="contractMoney" class="form-control"/>
            </div>
            <div class="form-group">
                <label>合同授权代表:</label>
                <input type="text" name="authorization" class="form-control"/>
            </div>
            <div class="form-group">
                <label>份数:</label>
                <input type="text" name="contractCnt" class="form-control"/>
            </div>
            <div id="partenerGroup">
                <div class="form-group">
                    <label>甲方:</label>
                    <input type="text" name="partenerName" class="partnerType form-control"/>
                </div>
            </div>


            <div class="btn-group">
                <a onclick="addPartner()" class="btn btn-primary">添加</a>
            </div>


            <div class="form-group">
                <label for="inputFile">请上传合同正文</label>
                <input type="file" id="inputFile" name="htzwFile">
            </div>


            <div class="form-group">
                <label>填写意见:</label>
                <textarea class="form-control" rows="3" name="opinionContent"></textarea>

            </div>



            <div class="form-group">
                <label>请选择下一步流程(部门领导审核):</label>
                <select class=" form-control leader-select" name="leaderId">
                </select>
            </div>
            <div class="form-group">
                <label>请选择审签流程(收件部门):</label>
                <select class="selectpicker form-control department-select" multiple name="departmentsId">
                </select>
            </div>
            <div class="form-group">
                <label>请选择局领导审批流程(请选择部门分管领导):</label>
                <select class="form-control boss-select"  name="bossId">
                </select>
            </div>

            <button type="submit" id="submitBtn" class="btn btn-default">提交</button>
        </form>

    </div>
</div>


<script th:inline="javascript">

    function addPartner(){
        let s = ["甲","乙","丙","丁","戊","己","庚","辛","壬","癸"];
        let size = document.getElementsByClassName("partnerType").length;
        if(size<10){
            $("#partenerGroup").append("<div class=\"form-group\">\n" +
                "                    <label>" +s[size] + "方:</label>\n" +
                "                    <input type=\"text\" name=\"partenerName\" class=\"partnerType form-control\"/>\n" +
                "                </div>");

        }
    }



    // 通过Thymeleaf内置函数获取应用程序上下文路径
    let basePath = [[${#httpServletRequest.getContextPath()}]];

    let leaderSelect = document.getElementsByClassName('leader-select')[0];

    let departmentSelect = document.getElementsByClassName('department-select')[0];

    let bossSelect = document.getElementsByClassName('boss-select')[0];



    function change() {

        var options = $("#sponsor-id option:selected");　　　　//获取选中项

        var sponsorId = options.val();　　　　　　　　　　　　　　//获取选中项的值


        $.ajax({
            type:"GET",
            url:basePath + "/getMatchLeader",
            data:"sponsorId="+sponsorId,//请求参数
            dataType:"JSON",
            success:function(result){

                $(".leader-select").empty();


                let optionNode = document.createElement('option');
                optionNode.setAttribute("value",result['leaderId']);
                optionNode.innerText = result['name'];


                leaderSelect.appendChild(optionNode);

            }
        });
    }





    $.ajax({
        type:"GET",
        url:basePath + "/getRecieveArea",
        data:"",//请求参数
        dataType:"JSON",
        success:function(result){



            for (let i = 0; i < result.length; i++){
                let optionNode = document.createElement('option');
                optionNode.setAttribute("value",result[i].id);
                optionNode.innerText = result[i].name;


                departmentSelect.appendChild(optionNode);
            }


            $('.selectpicker').selectpicker('refresh');

        }
    });


    $.ajax({
        type:"GET",
        url:basePath + "/getBoss",
        data:"",//请求参数
        dataType:"JSON",
        success:function(result){



            for (let i = 0; i < result.length; i++){
                let optionNode = document.createElement('option');
                optionNode.setAttribute("value",result[i].id);
                optionNode.innerText = result[i].name;


                bossSelect.appendChild(optionNode);
            }



        }
    });





</script>

<script type="text/javascript" th:src="@{/js/validateqc-form.js}"></script>




</body>
</html>