<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"></link>
    <script type="text/javascript" th:href="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
</head>
<body>



<div class="panel panel-default">
    <div class="panel-heading">
        搜索
    </div>
    <div class="panel-body">
        <form role="form" class="form-inline">
            <div class="form-group">
                <label for="name">名称</label>
                <input type="text" class="form-control" id="name" placeholder="请输入名称">
            </div>
            <div class="form-group">
                <label for="name">状态</label>
                <select class="form-control">
                    <option>上架</option>
                    <option>下架</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">开始搜索</button>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <a th:href="@{/toHtqcAdd}" class="btn btn btn-primary">起草合同</a>
    </div>
</div>


<div class="table-responsive">


    <table class="table table-striped ">
        <thead>
        <tr>
            <th>编号</th>
            <th>合同名</th>
            <th>合同金额</th>
            <th>主办单位</th>
            <th>经办人</th>
            <th>起草日期</th>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract ,index: ${contracts}">
            <td th:text="${index.count}"></td>
            <td th:text="${contract.name}"></td>
            <td th:text="${contract.contractMoney}"></td>
            <td th:text="${contract.sponsorName}"></td>
            <td th:text="${contract.operatorName}"></td>
            <td th:text="${#dates.format(contract.draftTime, 'yyyy-MM-dd')}"></td>
            <td>
                <div th:if="${contract.flowStatus}==0" class="btn-group">
                    <a th:href="@{/toHtqcEdit(cid=${contract.id})}" class="btn btn-danger">进行修改(被退回合同)</a>
                </div>
                <div th:if="${contract.flowStatus}!=0" class="btn-group">
                    <a th:href="@{/toHtqcDetail(cid=${contract.id})}" class="btn btn-primary">查询</a>
                </div>
            </td>

        </tr>

        </tbody>
    </table>

    <nav aria-label="...">
        <ul class="pager">
            <li th:if="${cur == 1}" class="disabled"><a href="#">上一页</a></li>

            <li th:if="${cur != 1}"><a th:href="@{/queryHtqcPageList(cur=${cur} - 1)}">上一页</a></li>
            <li><a th:href="@{/queryHtqcPageList(cur=${cur} + 1)}">下一页</a></li>
        </ul>
    </nav>

</div>

</body>
</html>