<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.0/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
</head>

<body>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">修改界面</h3>
    </div>
    <div class="panel-body">
        <form th:action="@{/updateRole}">
            <input type="text" th:value="${role.id}" name="roleId" style="visibility: hidden" />
            <div class="form-group">
                <label>角色名:</label>
                <input th:value="${role.name}" type="text" name="roleName" class="form-control"/>
            </div>
            <div class="form-group">
                <label>角色备注:</label>
                <input th:value="${role.remarks}" type="text" name="roleRemarks" class="form-control"/>
            </div>


            <div class="form-group">
                <label>选择父级菜单:</label>
                <select class="selectpicker form-control parent-menu-select" multiple name="menuParentId">
                </select>
            </div>

            <button type="submit" class="btn btn-default">提交</button>
        </form>

    </div>
</div>


<script th:inline="javascript">

    // 通过Thymeleaf内置函数获取应用程序上下文路径
    let basePath = [[${#httpServletRequest.getContextPath()}]];

    let parentMenuSelect = document.getElementsByClassName('parent-menu-select')[0];


    console.log(parentMenuSelect);
    $.ajax({
        type:"GET",
        url:basePath + "/getAllParentMenu",
        data:"",//请求参数
        dataType:"JSON",
        success:function(result){//回调函数



            for (let i = 0; i < result.length; i++){
                let optionNode = document.createElement('option');
                optionNode.setAttribute("value",result[i].id);
                optionNode.innerText = result[i].name;


                console.log(optionNode);

                parentMenuSelect.appendChild(optionNode);
            }


            $('.selectpicker').selectpicker('refresh');

        }
    });




</script>



</body>
</html>